/*------------
    RESET
------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*------------
    GENERAL
------------*/

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/*------------
    TYPOG
------------*/
body {
    font-family: "Poppins", sans-serif;
    color: white;
}

/*------------
    HEADER
------------*/
header {
    background-color: #ff6900;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 12px;
}

ul {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.logo {
    height: 20px;
    display: flex;
}

/*------------
    MAIN
------------*/
.row {
    padding-top: 30px;
    max-width: 1200px;
    margin-bottom: 40px;
    display: flex;
    gap:10px;

}

.cols {
    width: calc(100% / 3);
    /* background-color: #ff6900; */
    /* gap: 20px;  */
    position: relative;
}

.img-fluid {
    max-width: 100%;
}

.marca {
    color: #000000;
    font-size: 14px;
}

.type {
    color: #000000;
    font-size: 16px;
}

.new-price {
    color: red;
    font-size: 14px;
}

.old-price {
    color: black;
    text-decoration: line-through;
    font-size: 14px;
}

/*------------
    FOOTER
------------*/

footer {
    background-color: #1a1a1a;
    font-size: 12px;
    padding: 20px 0;
}

.container-foot {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.text-align-left {
    text-align: start;

}

h3 {
    font-size: 16px;
}

.display-flex {
    display: flex;
    gap: 10px;
}